<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      Ear rubs are out, bum scratches are in!
    </a>
    <a class="panel-block">
      The best sniff posts in NYC.
    </a>
    <a class="panel-block">
      How to steal food on the sly. 
    </a>
    <a class="panel-block">
      Tips on burying your fave toy. 
    </a>
    <a class="panel-block">
      How often should you lick your bum? 
    </a>
    <a class="panel-block">
      What your bark says about you. 
    </a>
  </nav>
</div>